.movieForm {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	margin-bottom: 23px;
}

.inputWrapper {
	position: relative;
}

.inputWrapper:nth-of-type(2) {
	margin-left: 20px;
}

.movieForm label {
	position: absolute;
	top: -12px;
	left: 6px;
	background-color: #242424;
	z-index: 2;
	padding: 0px 3px 0px 3px;
	color: var(--primary-color);
	font-size: 15px;
}

.movieForm input {
	background-color: #242424;
	border: 1px solid #3a3a3a;
	color: #bbbbbb;
	padding: 6px 9px;
	border-radius: 8px;
	font-size: 14px;
}

.movieForm input[type="date"] {
	padding: 5px 5px;
	padding-left: 10px;
}

.movieForm input:focus {
	outline: none;
	box-shadow: 0 0 4px #3a3a3a;
}

.movieForm input::placeholder {
	color: #bbbbbb;
}

.movieForm button {
	background-color: transparent;
	border: unset;
	color: green;
	cursor: pointer;
}

.formError {
	color: #c70000;
	position: absolute;
	font-size: 14px;
	left: 5px;
	top: 33px;
}